# Top-level configuration
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Markdown and JSON (Preserve formatting)
[*.{md,json}]
trim_trailing_whitespace = false
indent_size = 2

# C# specific files
[*.cs]
indent_size = 4

# Rust specific files
[*.rs]
indent_size = 4